.info {
    text-align: center;
    margin: 10px;
    border: solid;
    border-width: medium;
    border-color: white;
}

.checklist {
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.g-calendar {
    border: 0;
    width: 800;
    height: 600;
    frameborder: 0;
    scrolling: no;
}
