body {
    background-color: #DEA5A4;
}

.menu {
    display: flex;
    justify-content: center;
}

.section {
    float: left;
    padding: 10px;
    /* let's add a border to the link sections, to make this look more like a menu */
}

a {
    text-decoration: none;
    /* let's change the color of the font of the links */
}

a:hover {
    /* let's change the color of the links when you hover over them */
}

.info {

}