body {
    background-color: #DEA5A4;
    font-family: "Proxima Nova", Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: center;
 }

h1 {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: center;
}

.section {
    font-size: 12px;
    float: left;
    padding: 5px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    border:solid;
    border-color:black;
}

a {
    text-decoration: none;
    /* TODO : let's change the color of the font of the links (the menu text) */
}

a:hover {
    /* TODO : let's change the color of the links when you hover over them, so we know they're clickable */
}

.info {
  padding: 30px;
}

.cqy{
  position:relative; right:-150;
  height:46%;
  width:40%;
}

.about-site, .about-team {
  font-size: 20px;
  margin-left:70px;
  margin-right:70px;
}

.result {
  visibility: hidden;
}

.result h3{
  text-align: center;
}

#quiz-results {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

#quiz-results td {
  padding: 10px;
  text-align: left;
}

#quiz-results th {
  font-weight: bold;
  color: #ffffff;
  background-color: purple;
  height: 30px;
}

#quiz-results tr:nth-child(even) {
   background-color: #f2f2f2
}
